In [15]:
import pandas as pd

In [16]:
Jugadores=pd.read_csv("world_cup_players.csv")
Goleadores=pd.read_csv("world_top_scorers.csv")
print(Jugadores)
print(Goleadores)

                name    country    position
0     Miroslav Klose    Germany     forward
1    Ronaldo Nazario     Brazil     forward
2        Luka Modric    Croatia  midfielder
3     Erling Haaland     Norway     forward
4       Lionel Messi  Argentina     forward
5               Pelé     Brazil     forward
6      Kylian Mbappé     France     forward
7  Cristiano Ronaldo   Portugal     forward
              name  world_cups  total_matches  champion  goals
0   Miroslav Klose           4             24         1     16
1  Ronaldo Nazario           4             19         2     15
2      Gerd Muller           2             13         1     14
3    Just Fontaine           1              6         0     13
4     Lionel Messi           5             26         1     13
5             Pelé           4             14         3     12
6    Kylian Mbappé           2             14         1     12
7    Sándor Kocsis           1              5         0     11

In [17]:
merged=pd.merge(Jugadores,Goleadores,on="name")
merged

,name,country,position,world_cups,total_matches,champion,goals
0,Miroslav Klose,Germany,forward,4,24,1,16
1,Ronaldo Nazario,Brazil,forward,4,19,2,15
2,Lionel Messi,Argentina,forward,5,26,1,13
3,Pelé,Brazil,forward,4,14,3,12
4,Kylian Mbappé,France,forward,2,14,1,12

In [18]:
Goleadores2=pd.read_csv("world_top_scorers_2.csv")
Goleadores2

       player_name  world_cups  total_matches  champion  goals
0   Miroslav Klose           4             24         1     16
1  Ronaldo Nazario           4             19         2     15
2      Gerd Muller           2             13         1     14
3    Just Fontaine           1              6         0     13
4     Lionel Messi           5             26         1     13
5             Pelé           4             14         3     12
6    Kylian Mbappé           2             14         1     12
7    Sándor Kocsis           1              5         0     11

In [19]:
merged2=pd.merge(Jugadores,Goleadores2,left_on="name",right_on="player_name",how="outer")
merged2

,name,country,position,player_name,world_cups,total_matches,champion,goals
0,Cristiano Ronaldo,Portugal,forward,NaN,NaN,NaN,NaN,NaN
1,Erling Haaland,Norway,forward,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Gerd Muller,2.0,13.0,1.0,14.0
3,NaN,NaN,NaN,Just Fontaine,1.0,6.0,0.0,13.0
4,Kylian Mbappé,France,forward,Kylian Mbappé,2.0,14.0,1.0,12.0
5,Lionel Messi,Argentina,forward,Lionel Messi,5.0,26.0,1.0,13.0
6,Luka Modric,Croatia,midfielder,NaN,NaN,NaN,NaN,NaN
7,Miroslav Klose,Germany,forward,Miroslav Klose,4.0,24.0,1.0,16.0
8,Pelé,Brazil,forward,Pelé,4.0,14.0,3.0,12.0
9,Ronaldo Nazario,Brazil,forward,Ronaldo Nazario,4.0,19.0,2.0,15.0
10,NaN,NaN,NaN,Sándor Kocsis,1.0,5.0,0.0,11.0

In [20]:
Stats=pd.read_csv("players_stats.csv")
Stats

   matches_played  goals_scored
0              24            16
1              19            15
2              26            13
3              14            12
4              16            18
5              21            17
6              19            10
7              11            11

In [21]:
Jugadores=pd.read_csv("world_cup_players.csv")
Jugadores.set_index("name",inplace=True)
Stats.set_index(Jugadores.index,inplace=True)

In [22]:
merged3=pd.merge(Jugadores,Stats,left_index=True,right_index=True)
merged3

                     country    position  matches_played  goals_scored
name
Miroslav Klose       Germany     forward              24            16
Ronaldo Nazario       Brazil     forward              19            15
Luka Modric          Croatia  midfielder              26            13
Erling Haaland        Norway     forward              14            12
Lionel Messi       Argentina     forward              16            18
Pelé                  Brazil     forward              21            17
Kylian Mbappé         France     forward              19            10
Cristiano Ronaldo   Portugal     forward              11            11

***Combinar DF con nombres de columnas***

In [23]:
Jugadores=pd.read_csv("world_cup_players.csv")
Goleadores3=pd.read_csv("world_top_scorers_3.csv")

In [24]:
merged4=pd.merge(Jugadores,Goleadores3,on="name",how="left",suffixes=("left","right"))
merged4

,name,countryleft,position,world_cups,total_matches,goals,countryright
0,Miroslav Klose,Germany,forward,4.0,24.0,16.0,Germany
1,Ronaldo Nazario,Brazil,forward,4.0,19.0,15.0,Brazil
2,Luka Modric,Croatia,midfielder,NaN,NaN,NaN,NaN
3,Erling Haaland,Norway,forward,NaN,NaN,NaN,NaN
4,Lionel Messi,Argentina,forward,5.0,26.0,13.0,Argentina
5,Pelé,Brazil,forward,4.0,14.0,12.0,Brazil
6,Kylian Mbappé,France,forward,2.0,14.0,12.0,France
7,Cristiano Ronaldo,Portugal,forward,NaN,NaN,NaN,NaN